## Pre-lecture HW

### ChatGPT Summary

Funny Interesting Datasets - https://chatgpt.com/share/d21d5a31-8756-4d55-9137-01fa3578806b


Dataset Rows and Columns - https://chatgpt.com/share/ec705962-684e-40db-8a79-e4d3f9c2bc03


Attribute vs Method - https://chatgpt.com/share/b6200e9c-b1da-49b6-89c8-23317f013f70


Dataset Analysis Python Code - https://chatgpt.com/share/911944af-b43e-455f-b1b8-2c339ba09e72



Hereâ€™s a summary of our previous interactions based on the exchanges you provided:

Exchange 1: Checking for Missing Values in a CSV Dataset

    You shared a CSV dataset link, and I provided Python code to check for missing values in the dataset using pandas. The code reads the CSV file from the URL and uses isnull().sum() to calculate missing values in each column.

Exchange 2: Counting Rows and Columns

    You asked how to count rows and columns in the dataset using Python. I explained that by using pandas, you could load the dataset and check the dimensions with df.shape, which returns the number of rows and columns as a tuple.
    You also asked for clarification on the terms "observations" and "variables." I explained that observations correspond to rows in the dataset (individual villagers), and variables correspond to columns (characteristics of the villagers).

Exchange 3: Summarizing Columns in a Dataset

    You asked how to generate summaries of the dataset's columns. I provided Python code that uses info(), describe(), and value_counts() to display information about numeric and non-numeric columns. These methods give overviews like data types, summary statistics, and the frequency of unique values in specific columns.

Exchange 4: Titanic Dataset Summary

    You requested an example using a Titanic dataset. I provided code to load the Titanic dataset, obtain its shape using df.shape, and generate summary statistics with df.describe().

Exchange 5: Attributes vs Methods

    You asked about the difference between an attribute (like df.shape) and a method (like df.describe()). I explained that an attribute stores a value or property of the object and doesn't require parentheses, while a method is a function that performs an action and is invoked with parentheses, optionally containing arguments.

This summary captures the key details of our previous exchanges. Let me know if you need further details or adjustments!

### 1

In [18]:
# Importing necessary libraries
import pandas as pd

# URL of the CSV file
url = "https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-05-05/villagers.csv"

# Reading the CSV file
villagers_df = pd.read_csv(url)

# Checking for missing values
missing_values = villagers_df.isnull().sum()

# Output the missing values
print(missing_values)

row_n           0
id              1
name            0
gender          0
species         0
birthday        0
personality     0
song           11
phrase          0
full_id         0
url             0
dtype: int64

### 2

In [19]:
# Load the dataset from the URL
url = "https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-05-05/villagers.csv"
villagers_data = pd.read_csv(url)

# Get the number of rows and columns
num_rows, num_columns = villagers_data.shape
print(f'Rows: {num_rows}, Columns: {num_columns}')

Rows: 391, Columns: 11

#### Definitions
Observations - Individual datapoints, usually represented as rows in a dataset.

Variables - Specific attributes or characteristics measured for each observation, usually represented as columns in a dataset.

### 3

In [20]:
# Load the dataset from the URL
url = "https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-05-05/villagers.csv"
villagers_data = pd.read_csv(url)

# Summary of the dataset
print("Basic Info of the dataset:")
villagers_data.info()  # Provides an overview of the columns and data types

print("\nSummary statistics for numeric columns:")
print(villagers_data.describe())  # Summary for numeric columns

print("\nSummary statistics for categorical columns:")
print(villagers_data.describe(include='object'))  # Summary for non-numeric columns

# To show the value counts for a specific column, for example, the 'species' column:
print("\nValue counts for 'species' column:")
print(villagers_data['species'].value_counts())

Basic Info of the dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 391 entries, 0 to 390
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   row_n        391 non-null    int64
 1   id           390 non-null    object
 2   name         391 non-null    object
 3   gender       391 non-null    object
 4   species      391 non-null    object
 5   birthday     391 non-null    object
 6   personality  391 non-null    object
 7   song         380 non-null    object
 8   phrase       391 non-null    object
 9   full_id      391 non-null    object
 10  url          391 non-null    object
dtypes: int64(1), object(10)
memory usage: 33.7+ KB

Summary statistics for numeric columns:
            row_n
count  391.000000
mean   239.902813
std    140.702672
min      2.000000
25%    117.500000
50%    240.000000
75%    363.500000
max    483.000000

Summary statistics for categorical columns:
             id     name gender species birthday personality          song  \
count       390      391    391     391      391         391           380
unique      390      391      2      35      361           8            92
top     admiral  Admiral   male     cat     1-27        lazy  K.K. Country
freq          1        1    204      23        2          60            10

         phrase           full_id  \
count       391               391
unique      388               391
top     wee one  villager-admiral
freq          2                 1

                                                      url
count                                                 391
unique                                                391
top     https://villagerdb.com/images/villagers/thumb/...
freq                                                    1

Value counts for 'species' column:
species
cat          23
rabbit       20
frog         18
squirrel     18
duck         17
dog          16
cub          16
pig          15
bear         15
mouse        15
horse        15
bird         13
penguin      13
sheep        13
elephant     11
wolf         11
ostrich      10
deer         10
eagle         9
gorilla       9
chicken       9
koala         9
goat          8
hamster       8
kangaroo      8
monkey        8
anteater      7
hippo         7
tiger         7
alligator     7
lion          7
bull          6
rhino         6
cow           4
octopus       3
Name: count, dtype: int64

### 4

In [21]:
import pandas as pd

# Load the Titanic dataset from the URL
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
titanic_data = pd.read_csv(url)

# Get the shape of the dataset (rows, columns)
print("Shape of the dataset:", titanic_data.shape)

# Get summary statistics of the dataset
print("\nSummary statistics of the dataset:")
print(titanic_data.describe())

# Checking for missing values
missing_values = titanic_data.isnull().sum()

# Output the missing values
print(missing_values)

Shape of the dataset: (891, 15)

Summary statistics of the dataset:
         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200
survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

#### Why the discrepancies?

I think there are discrepancies because df.describe() will only analyzes numeric columns and not non-numeric columns. Also if there are missing values in numeric variables, the "count" row in df.describe() will show the number of non-missing values for each column. This is be less than the total number of rows reported by df.shape for the titanic data.

### 5

#### Differences
Attribute - A property of an object that contains data and is accessed directly without parentheses. 

df.shape is an attribute that returns the dimensions of df without performing any computation.

____

Method - Associated with an object and  performs an action, often using the object's attributes, and is called using parentheses.

df.describe() is a method that computes summary statistics of df's columns.

## Post-lecture HW

### Chatbot Summary (not ChatGPT)



Certainly. Here's a summary of our exchanges:

1. We discussed the Titanic dataset and methods for handling missing data in pandas.
2. We explored the differences between df.dropna() and del df['col'] for removing missing data, including use cases for each method and the importance of their order of application.
3. We created a code snippet demonstrating the process of cleaning the Titanic dataset by removing a column with many missing values ('deck') and then dropping rows with remaining missing data.
4. We discussed the df.groupby("col1")["col2"].describe() function, explaining its purpose and how it differs from df.describe().
5. Throughout our discussion, we emphasized the importance of understanding how these methods affect data retention and the insights they can provide in exploratory data analysis.
6. We used the Titanic dataset as a concrete example to illustrate these concepts, discussing how grouping by passenger class and examining age distribution could reveal patterns in the data.

This summary covers the key points of our conversation, demonstrating your engagement with the concepts of data cleaning, handling missing values, and using pandas functions for exploratory data analysis. It shows your progress in understanding these important data science techniques and your ability to apply them to real-world datasets like the Titanic data.


--

Sure! Hereâ€™s a summary of our exchanges:

Error Fixes and Code Corrections:
- NameError: name 'pd' is not defined: This issue was resolved by ensuring that pandas is imported with the alias pd using import pandas as pd.
- HTTPError: HTTP Error 404: Not Found: This was fixed by correcting the URL for loading the Titanic dataset from https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titasnic.csv to https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv.
- SyntaxError: incomplete input: The error was corrected by ensuring the describe() method call had a proper closing parenthesis and that the print() statement was properly placed.
- NameError: name 'original_titanic_data_not_cleaned' is not defined: This was resolved by ensuring the DataFrame was defined and loaded before performing operations on it.
- KeyError: 'Survived': The issue was fixed by checking the DataFrame's actual column names and ensuring the correct column name (likely 'survived') was used.
- AttributeError: module 'pandas' has no attribute 'readcsv': This was corrected by using the proper method pd.read_csv() instead of the incorrect pd.readcsv().

Additional Help:
- Provided guidance on ensuring correct column names for grouping operations and correct syntax for reading CSV files using pandas.

### 6

### Summary Statistics

Count - This is the number of datapoints in the column

Mean - This is the average (sum of total values divided by count)

STD (Standard Deviation) - This is the amount of variation in the dataset. This means how far or spread out the data is from the mean

Min - The minimum value in each column

25% - 25% of the data falls below this value

50% - 50% of the data falls below this value

75% - 75% of the data falls below this value

Max - The maximum value in each column

### 7

In [29]:
# Load the Titanic dataset
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
titanic_data = pd.read_csv(url)

# Display initial information about the dataset
print(titanic_data.info())
print("\nMissing values per column:")
print(titanic_data.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    object
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    object
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), float64(2), int64(4), object(7)
memory usage: 92.4+ KB
None

Missing values per column:
survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

#### 1.

Use case for df.dropna():
A use case for preferring df.dropna() could be when you need to have complete data so you drop any rows that are missing data. This makes sure that every row and column are complete for all variables.

#### 2.

Use case for del df['col']:
A use case for preferring del df['col'] could be when a specific column has a high percentage of missing values and isn't crucial for your analysis. For example, the 'deck' column in the Titanic dataset has many missing values and I don't consider it essential for some analysis or model that I am creating. I could delete this column entirely rather than losing a large portion of the dataset by dropping incomplete rows.
#### 3.

The importance of using df['col'] before df.dropna(), is that if you are planning to delete a column, but you delete all the 'incomplete' rows first, those rows might have only been incomplete because of the column you were planning to drop. By removing columns with many missing values first, you reduce the number of rows that will be dropped due to missing data in the remaining columns. This helps maximize data retention.

#### 4.

Code below which satisfies the requirements.

In [23]:
# Original dataset info
print("Original dataset:")
print(titanic_data.info())

# Remove 'deck' column due to high missing values
del titanic_data['deck']

# Drop rows with missing values in remaining columns
titanic_data_clean = titanic_data.dropna()

# After cleaning dataset info
print("\nCleaned dataset:")
print(titanic_data_clean.info())

# Calculate percentage of data retained
retention_rate = (len(titanic_data_clean) / len(titanic_data)) * 100
print(f"\nPercentage of data retained: {retention_rate:.2f}%")

Original dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    object
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    object
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), float64(2), int64(4), object(7)
memory usage: 92.4+ KB
None

Cleaned dataset:
<class 'pandas.core.frame.DataFrame'>
Index: 712 entries, 0 to 890
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     712 non-null    int64
 1   pclass       712 non-null    int64
 2   sex          712 non-null    object
 3   age          712 non-null    float64
 4   sibsp        712 non-null    int64
 5   parch        712 non-null    int64
 6   fare         712 non-null    float64
 7   embarked     712 non-null    object
 8   class        712 non-null    object
 9   who          712 non-null    object
 10  adult_male   712 non-null    bool
 11  embark_town  712 non-null    object
 12  alive        712 non-null    object
 13  alone        712 non-null    bool
dtypes: bool(2), float64(2), int64(4), object(6)
memory usage: 73.7+ KB
None

Percentage of data retained: 79.91%

### 8

#### 1.

The code 'df.groupby("col1")["col2"].describe()' is demonstrated below. This groups data in 'col1' into groups based on having the same values. Then summary statistics are calculated using the groups 'col1' but using 'col2' data to get summary statistics.

#### Code below is by AI

In [24]:
original_titanic_data_not_cleaned = pd.read_csv(url)
result = original_titanic_data_not_cleaned.groupby("pclass")["age"].describe()
print(result)

        count       mean        std   min   25%   50%   75%   max
pclass
1       186.0  38.233441  14.802856  0.92  27.0  37.0  49.0  80.0
2       173.0  29.877630  14.001077  0.67  23.0  29.0  36.0  70.0
3       355.0  25.140620  12.495398  0.42  18.0  24.0  32.0  74.0

#### Code below is written by me (Gabriel)

In [25]:
results_me = original_titanic_data_not_cleaned.groupby('survived')['fare'].describe()
print(results_me)

          count       mean        std  min      25%   50%   75%       max
survived
0         549.0  22.117887  31.388207  0.0   7.8542  10.5  26.0  263.0000
1         342.0  48.395408  66.596998  0.0  12.4750  26.0  57.0  512.3292

#### 2.

##### What is df.describe() doing?
The count here represents the number of non-null or non-missing values in each column. It depicts the presence of missing values in each column independently.

##### What is df.groupby("col1")["col2"].describe() doing?
The count here represents the number of non-null values of "col2" for each unique value in "col1". This is fundamentally different because:

1. It is showing the distribution of data across groups defined by "col1".
2. It allows us to compare the presence and characteristics of "col2" data across different groups in "col1".

In [26]:
print(original_titanic_data_not_cleaned.describe())

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

#### 3.


I think that ChatGPT is better overall. This is because it does an excellent job tailoring solutions for my needs. Sometimes, searching Google is faster if it was a really complex issue which someone else has documented. I found a website called StackOverflow through Google which gave insightful results.

ChatGPT only works well if given the code where the issue is caused. For example, if there is a missing bracket, showing ChatGPT the error is not enough to get a proper fix.

For G., ChatGPT was more helpful as it recognized the error. I found Google was unhelpful.

### 9

Yes.